html {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
  overflow: hidden;
}

body {
  margin: 0.4rem;
  color: white;
  background-color: transparent;
  overflow: hidden;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  text-align: center;
}

.container {
  display: "flex";
  align-items: "end";
  flex-direction: "column";
  transition: "opacity 0.3s ease-in-out";
}

.container.visible {
  opacity: 1;
}

.container.hidden {
  opacity: 0;
}

.item-card {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  justify-content: center;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.item-card.fade-in {
  opacity: 1;
}

.item-card.fade-out {
  opacity: 0;
}

.badge {
  width: 5rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.8rem;
}

.badge.safeToRecycle {
  background-color: rgba(0, 255, 0, 0.3);
  border: 1px solid rgb(0, 255, 0);
  color: white;
  filter: drop-shadow(0 0 0.3rem rgb(0, 255, 0));
}

.badge.unsafeToRecycle {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid rgb(255, 0, 0);
  color: white;
  filter: drop-shadow(0 0 0.3rem rgb(255, 0, 0));
}

.badge.quest {
  background-color: rgba(255, 165, 0, 0.3);
  border: 1px solid rgb(255, 165, 0);
  color: white;
  filter: drop-shadow(0 0 0.2rem rgb(255, 165, 0));
  border-radius: 0.3rem;
  margin-top: 2px;
}

.badge.project {
  background-color: rgba(180, 100, 255, 0.3);
  border: 1px solid rgb(180, 100, 255);
  color: white;
  filter: drop-shadow(0 0 0.2rem rgb(180, 100, 255));
  border-radius: 0.3rem;
  margin-top: 2px;
}

.badge.workshop {
  background-color: rgba(100, 150, 255, 0.3);
  border: 1px solid rgb(100, 150, 255);
  color: white;
  filter: drop-shadow(0 0 0.2rem rgb(100, 150, 255));
  border-radius: 0.3rem;
  margin-top: 2px;
}
