html {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
}

body {
  margin: 0.4rem;
  color: white;
  background-color: transparent;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
  text-align: center;
}

.container {
  display: "flex";
  align-items: "end";
  flex-direction: "column";
  transition: "opacity 0.3s ease-in-out";
}

.container.visible {
  opacity: 1;
}

.container.hidden {
  opacity: 0;
}

.item-card {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.item-card.fade-in {
  opacity: 1;
}

.item-card.fade-out {
  opacity: 0;
}
